# directory to be considered in "Languages"
/src/*       linguist-detectable

# exclude directories
/qa/*       -linguist-detectable
/notes/*    -linguist-detectable
/from/*     -linguist-detectable
/doxygen/*  -linguist-detectable
