/.vscode/settings.json
/.cache/
/build/
/sanitizer.log
/qa/coverage/report/*
/baz
*.o
# binaries built by run.sh are named after their source
/prog
/prog-uart
/roome
gen-rv32i.bin
/diff.baz
/.idea/
lcov.info
*.profraw
*.profdata
a.out
perf.data
perf.data.old
perf-report.txt
